/*=================================================================*/
/*                      SLICK SETTINGS
/*=================================================================*/
.slick-slide {
    height: auto;
    outline: none;
}

.slick-next,.slick-prev {
    width: 36px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    background: transparent;
    border-radius: 0;
    border: solid 3px #111;
    text-align: center;
    top: 50%;
    z-index: 1;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    @include transition(.2s);
}

.slick-next:hover,.slick-prev:hover {
    background: $colordefault;
    &:before {
        color: #FFF;
    }
}

.slick-prev {
    left: -40px;
    &:hover {
        background: $colordefault;
    }
}

.slick-next {
    right: -40px;
    &:hover {
        background: $colordefault;
    }
}

.slick-prev:before, .slick-next:before {
    line-height: 33px;
}

.slick-prev:before {
    color: #111;
    content: '\f053';
    font-family: 'FontAwesome';
    opacity: 1;
}

.slick-next:before {
    color: #111;
    content: '\f054';
    font-family: 'FontAwesome';
    opacity: 1;
}

.slick-dotted.slick-slider {
    margin-bottom: 0;
}

.slick-dots {
    bottom: -60px;
    position: absolute;
}

.slick-dots li {
    width: 10px;
    height: 10px;
    margin: 0 2px;
}

.slick-dots li.slick-active {
    width: 10px;
    height: 10px;
}

.slick-dots li button {
    width: 10px;
    height: 10px;
    padding: 0;
}

.slick-dots li.slick-active button:before {
    opacity: 1;
    height: 10px;
    width: 10px;
}

.slick-dots li button:before {
    content: '';
    border: solid 2px #111;
    background: transparent;
    border-radius: 0;
    height: 10px;
    opacity: .2;
    width: 10px;
    @include transition(.2s);
}

.services-wrapper {
    .slick-prev, .slick-next {
        bottom: -75px;
        position: absolute;
        top: auto;
    }
    .slick-prev {
        left: 46.7%;
    }
    .slick-next {
        right: 46%;
    }
}

.testimonials-wrapper {
    .slick-dots li button:before {
        border-color: #FFF;
    }
}